<!-- templates/fruit_info.html -->
<!DOCTYPE html>
<html>
<head>
    <title>Fruit Box - {{ box_id }}</title>
</head>
<body>
    <h1>Fruit Box ID: {{ box_id }}</h1>
    <ul>
        <li><strong>Fruit:</strong> {{ info.fruit }}</li>
        <li><strong>Moisture:</strong> {{ info.moisture }}</li>
        <li><strong>Humidity:</strong> {{ info.humidity }}</li>
        <li><strong>Temperature:</strong> {{ info.temperature }}</li>
        <li><strong>Pesticide Used:</strong> {{ info.pesticide_used }}</li>
        <li><strong>Van Temperature:</strong> {{ info.van_temperature }}</li>
        <li><strong>Retail Shop:</strong> {{ info.retail_shop }}</li>
        <li><strong>Blockchain Hash:</strong> {{ info.blockchain_hash }}</li>
    </ul>
</body>
</html>
